In [15]:
list=["Hello",1,2,300.12]

In [16]:
list

['Hello', 1, 2, 300.12]

In [17]:
list[0]

'Hello'

In [4]:
len(list)

4

In [5]:
type(list[2])

int

In [6]:
list[1:]

[1, 2, 300.12]

lists are ordred set of different variables or objects , it can store any type of data we can access the data memebers with indexing and indexing in lists begins with zero and we can use slicing same like as string, difference between strings and list is strings are immutable and lists are mutable. we can change the values in list

we can contact 2 list objects with + symbol and we can strore the result to different list

In [20]:
list[0]="Hi"

In [21]:
list

['Hi', 1, 2, 300.12]

In [22]:
another_list=["Hello","Anil"]

In [23]:
changed_list= list+another_list

In [24]:
changed_list

['Hi', 1, 2, 300.12, 'Hello', 'Anil']

In [32]:
first_name=changed_list.pop()

In [33]:
first_name

'Hello'

In [34]:
first_name=changed_list.pop(1)

In [35]:
first_name

2

In [36]:
changed_list

['Hi', 300.12]

In [37]:
changed_list.append("Anil")

In [38]:
changed_list

['Hi', 300.12, 'Anil']

In [49]:
removed_string=changed_list.remove("Anil")

In [52]:
removed_string

In [53]:
type(removed_string)

NoneType

In [54]:
#if we want to remove a particular string then we can use remove  function once the string or object is removed it cant be roll backed and 
#append function will append values at end of the list. As part from that we have sort and reverse functions 
#sort will sort the elements of list in increasing order 
#reverse will reverse the list from back to front but i guess it will do it in decreasing order

In [68]:
my_list=["anil","kumar","ponnam",27,"BLR2177",8095344001,789800.23]

In [62]:
#my_list.sort()

In [57]:
#we cant sort a list with different datatypes

In [69]:
my_list.reverse()

my_list

In [70]:
my_list

[789800.23, 8095344001, 'BLR2177', 27, 'ponnam', 'kumar', 'anil']

In [71]:
num_list=[3,1,88,100,99,102]

In [72]:
num_list.reverse()

In [73]:
num_list

[102, 99, 100, 88, 1, 3]

In [74]:
# reverse method will reverse the values but it will not sort the values in decending order , sort function follows increasing order

In [75]:
num_list.sort()

In [76]:
num_list

[1, 3, 88, 99, 100, 102]